<br>
<br>
<div class="row">
    <div class="col-lg-4">
        <br>
        <h4>{{projet.libelle}}</h4>
        <p>{{projet.description}}</p>
        <p><span [ngClass]="{'badge': true, 'bg-info': projet.etat == 'A_FAIRE','bg-success': projet.etat == 'TERMINE', 'bg-primary': projet.etat == 'EN_COURS'}">{{projet.etat}}</span></p>
        <p>Debut : {{projet.dateDebut | date:'dd/MM/yyyy'}}</p>
        <p>Fin : {{projet.dateFin | date:'dd/MM/yyyy'}}</p>
        <br>
        <a routerLinkActive="active" routerLink="/projets">Liste des projets</a>
    </div>
    <div class="col-lg-8">
        <h4>Tâches</h4>
        <br>
        <table class="table table-striped">
            <thead>
                <th>Libelle</th>
                <th>Etat</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>user</th>
            </thead>
            <tbody>
                <tr *ngFor="let tache of projet.taches">
                    <td>{{tache.libelle}}</td>
                    <td><span [ngClass]="{'badge': true, 'bg-info': tache.etat == 'A_FAIRE','bg-success': tache.etat == 'TERMINE', 'bg-primary': tache.etat == 'EN_COURS'}">{{tache.etat}}</span></td>
                    <td>{{tache.dateDebut | date:'dd/MM/yyyy'}}</td>
                    <td>{{tache.dateFin | date:'dd/MM/yyyy'}}</td>
                    <td>{{tache.user}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
