<br>
<br>
<br>
<h3>Mes Projets</h3>
<br>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Libelle</th>
        <th>Etat</th>
        <th>Debut</th>
        <th>Fin</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor="let proj of projets">
            <td><a [routerLink]="['/projet/', proj.id]">{{proj.id}}</a></td>
            <td>{{proj.libelle}}</td>
            <td>{{proj.etat}}</td>
            <td>{{proj.dateDebut}}</td>
            <td>{{proj.dateFin}}</td>
            <td>{{proj.description}}</td>
        </tr>
    </tbody>
</table>
