<br>
<br>
<br>
<h3>Mes Projets</h3>
<br>
<table class="table table-striped">
    <thead>
        <th>Libelle</th>
        <th>Etat</th>
        <th>Debut</th>
        <th>Fin</th>
    </thead>
    <tbody>
        <tr *ngFor="let proj of projets">
            <td><a [routerLink]="['/projet/', proj.id]">{{proj.libelle}}</a></td>
            <td><span [ngClass]="{'badge': true, 'bg-info': proj.etat == 'A_FAIRE','bg-success': proj.etat == 'TERMINE', 'bg-primary': proj.etat == 'EN_COURS'}">{{proj.etat}}</span></td>
            <td>{{proj.dateDebut | date:'dd/MM/yyyy'}}</td>
            <td>{{proj.dateFin | date:'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
</table>
